export JACK_POSTGRES_URL="postgres://localhost:5432/pogo-jack?sslmode=disable"
export DIGBY_POSTGRES_URL="postgres://localhost:5432/digby?sslmode=disable"
export GAMBIT_POSTGRES_URL="postgres://localhost:5432/gambit?sslmode=disable"